<div *ngIf="product" class="item">
    <h3 class="text">
        <a href="{{product.link}}" target="_blank">
            {{product.name}}
        </a>
    </h3>
    <img src="{{ product.image }}">
    <p *ngIf="product.description" class="text">
        Описание: {{product.description}}
    </p>
    <p>
        Цена: {{product.price | currency: '₸'}}
    </p>
    <p>
        Рейтинг: {{product.rating}}
    </p>
    <div class="btn">
        <button type="button" (click)="share(product)">
            Поделиться
        </button>
        <button type="button" class="remove" (click)="Remove()">
            Удалить
        </button>
    </div>
    <div class="like">
        <img src="https://cdn-icons-png.flaticon.com/512/20/20664.png" alt="like" class="like-photo" (click)="like()">
        <span>{{ product.likes }}</span>
    </div>
</div>