<app-top-bar></app-top-bar>

<div class="categories">
  <div *ngFor="let category of categories">
    <div class="category" (click)="categoryClick(category.name)">
      <h1>{{ category.name }}</h1>
      <img src="{{ category.img }}" alt="image" class="category-img">
    </div>
  </div>
</div>
<app-product-list *ngIf="show" [categoryName]="categoryName"></app-product-list>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->