html {
    margin: 0;
}
main {
    width: 100vw;
    height: 100vh;
    padding: 32px 200px;
    background-color: rgb(250,250,250);
}
.main{
    display: flex;
    left: 50%;
}
#phone-img {
    height: 580px;
}
.top-reg {
    display: block;
    width: 350px;
    height: 385px;
    background-color: #fff;
    border: 1px solid gainsboro;
}
#logo {
    position: relative;
    left: 25%;
    margin: 40px auto;
    width: 175px;
}
form {
    display: block;
    height: 150px;
}
.input{
    display: block;
    margin: 10px auto;
    padding: 10px 50px;
}
#login {
    width: 100px;
    background-color: lightskyblue;
}